<% if (title) { %>
  <h1><%= title %></h1>
<% } else { 
  res.locals.title = "Register" 
} %>

<!-- Flash Message -->
<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!-- Registration Form -->
<form id="register-form" action="/account/register" method="post">
  <fieldset id="box">

    <label id= "fName" for="account_firstname">First Name:</label>
    <input type="text" id="firstName" name="account_firstname" required value="<%= locals.account_firstname %>">

    <label id="lName" for="account_lastname">Last Name:</label>
    <input type="text" id="lastName" name="account_lastname" required value="<%= locals.account_lastname %>">
    
    <label id="reg_email" for="account_email">Email:</label>
    <input type="email" id="email" name="account_email" required value="<%= locals.account_email %>">
    
    <label id="reg_password" for="account_password">Password:</label>
    <input 
        type="password" 
        id="password" 
        name="account_password" 
        required
        minlength="12"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&#+\-_=])[A-Za-z\d@$!%*?&#+\-_=]{12,}$"
        title="Password must be at least 12 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character (@$!%*?&)">

    <input type="submit" value="Register" class="button">
    
  </fieldset>
</form>